.Weather {
  width: 70rem;
  height: 40rem;
  border-radius: 0.6rem;
  box-shadow: 1rem -0.2rem 2rem 0.2rem rgb(0 0 0 / 30%);
  color: #fff;
  margin: 2rem auto 0 auto;
  padding: 0 2rem 2rem 2rem;
  background-size: cover !important;
  background-position: center;
  background: url(https://img.freepik.com/free-photo/beautiful-aerial-shot-forest-enveloped-creepy-mist-fog_181624-2659.jpg?w=1060&t=st=1670590063~exp=1670590663~hmac=31a20c398abbd1411a8bf1f8294251c08c17bbb8ce10e6bc17a48d92fefd93a7);
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom{
  padding-top: 5rem;
}

.city {
  font-weight: 600;
  font-size: 6.8rem;
  line-height: 1;
  margin: 0;
  letter-spacing: 0.1rem;
}

.weather-description {
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 15rem;
}

.temperature {
  font-weight: 600;
  font-size: 12rem;
  width: auto;
  letter-spacing: -0.5rem;
  margin: 1rem 0;
}

.details {
  width: 100%;
  padding-left: 4rem;
  font-size: 2rem
}

.detailsSpan{
  font-size: 4rem;
  padding-left: 14rem;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 2.2rem;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 2.2rem;
}

.parameter-label.top {
  border-bottom: 0.1rem solid #fff;
}
